{% extends 'base.html' %}
    

{% block title %}
<title>Цены</title>
{% endblock %}

{% block body %}
<main class="container">
    <h2 class="display-6 text-center mb-4">Финансовые вопросы</h2>

    <div class="table-responsive">
      <table class="table text-center">

        <tbody>
          <tr>
            <th scope="row" class="text-start">Цена авто<h1>100%</h1></th>

            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Скидка<h1>7%</h1></th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
                <td class="text-center">Итоговая цена составит<h1>93%</h1></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}